**/node_modules
**/.next
**/dist
**/.cache
**/.turbo
**/coverage
**/.DS_Store
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/.vscode
**/.idea
**/*.log
**/.source
**/playwright-report
**/test-results
**/.playwright-mcp
**/tmp
