NEXT_PUBLIC_SITE_URL=https://ycaptcha.xyspg.moe
NEXT_PUBLIC_APP_URL=https://app.ycaptcha.xyspg.moe
NEXT_PUBLIC_GITHUB_URL=https://github.com/xyspg/ycaptcha
NEXT_PUBLIC_R2_PUBLIC_URL=https://r2.ycaptcha.xyspg.moe
